@charset "ISO-8859-1";

body{
	height:100vh;
	background-image: url("img/pat6.jpg");
}

li{
	text-align:center;
	font-size:1.1rem;
}

li:hover{
	background:#555;
}

#nope{
	display:flex;
	justify-content:center;
	text-transform:uppercase;
	padding:10px;
	color:white;
	font-weight: 500;
	font-size:1.2rem;
}